html {

}

body {

}

form > label,input {
	display: block;
}

figure {
  text-align: center;
  padding: 7px;
}

figure > img {
  margin-bottom: 11px;
  max-width: 350px;
}

input:not([type="submit"]) {
  width: 400px;
  margin-bottom: 13px
}

#status {
  margin-top: 13px;
}