#root .error {
  margin-top: 150px;
  text-align: center;
}

form > label,input {
  display: block;
}

figure {
  text-align: center;
  padding: 7px;
}

figure > img {
  margin-bottom: 11px;
  max-width: 250px;
  max-height: 350px;
}

input:not([type="submit"]) {
  width: 400px;
  margin-bottom: 13px
}

input.invalid {
  border: 1px solid red;
}

#status {
  margin-top: 13px;
}